*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-logo{
    max-width: 300px;
    display: flex;
    align-items: center;
    padding: 25px 60px 20px 60px;
    background: #FF9700;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo > div:first-child{
    margin-right: 22px;
}

.line{
    width: 22px;
    height: 2px;
    background: white;
}

.line:not(:last-of-type){
    margin-bottom: 5px;
}

.line:last-of-type{
    width: 15.89px;
}

.header-logo__text{
    width: 135px;
    font-weight: 900;
    font-size: 23px;
    line-height: 32px;
    color: white;
}

.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A3ABB6;
    margin-right: 50px;
}

.header-social{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-social > li:not(:last-child){
    margin-right: 25px;
}

.social-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.social-item img{
    opacity: 0.3;
}

.container-main{
    position: relative;
}

.vertical-text{
    transform: rotate(-90deg);
    position: absolute;
    left: -190px;
    top: 180px;
    width: 480px;
    z-index: 1;
}

.vertical-text::before{
    position: absolute;
    content: url('../img/title-bg.svg');
    transform: rotate(90deg);
    z-index: -1;
    left: -86px;
    top: -13px;
}

.vertical-text::after{
    position: absolute;
    content: "";
    width: 64.27px;
    height: 3.96px;
    background: #A3A9B7;
    right: 0;
    top: -13px;
}

.vertical-title{
    width: 500px;
    font-weight: bold;
    font-size: 80px;
    line-height: 113px;
    color: #A3ABB6;
}

.vertical-p{
    width: 388px;
    font-size: 45px;
    line-height: 53px;
    color: #A3A9B7;
}

.bg-section{
    height: 632px;
    width: 945px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.bg-img > img{
    width: 100%;
}

.bg-text{
    margin: 22px 38px;
    position: absolute;
    top: 0;
}

.bg-title{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.035em;
    color: rgba(255, 255, 255, 0.6);
}

.bg-title::before{
    position: absolute;
    content: "SKY";
    font-size: 25px;
    font-weight: bold;
    line-height: 116.99%;
    color: #A3A9B7;
    left: -100px;
    top: -8px;
}

.bg-link > a{
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    transition: 2s;
}

.bg-link > a:hover{
    color: #FF9700;
    transition: 2s;
}

.about-container{
    max-width: 750px;
    position: static;
    margin-top: 585px;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 125px;
}

.about-img{
    height: 505px;
    position: relative;
}

.about-img > img{
    width: 100%;
}

.about-img::after{
    position: absolute;
    content: url('../img/title-bg.svg');
    transform: rotate(270deg);
    top: 290px;
    right: -60px;
    z-index: -1;
}

.about-discription{
    position: absolute;
    right: 100px;
}

.mini-title_inner{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 11px;
}

.title-inner{
    max-width: 250px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 35px;
}

.text-inner{
    max-width: 500px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 57px;
}

.work-content{
    display: flex;
}

.about-amount{
    padding: 0 10px 40px 8px;
    text-align: center;
    font-weight: 900;
    font-size: 66px;
    line-height: 93px;
    text-indent: 2px;
    border: 3px solid black;
    margin-right: 20px;
    margin-bottom: 54px;
}

.about-work{
    max-width: 175px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    position: relative;
}

.about-work::before{
    position: absolute;
    content: "";
    width: 64px;
    height: 3px;
    background: black;
    top: 70px;
}

.button{
    padding: 11px 53px;
    color:#FF9700;
    background: white;
    border: 1px solid #FF9700;
    border-radius: 30px;
}

.carousel{
    padding-bottom: 50px;
    position: relative;
}

.projects-container{
    max-width: 750px;
    margin: 0 auto;
}

.projects-gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery_item{
    width: 270px;
    position: relative;
}

.gallery_item img{
    width: 100%;
}

.gallery_item:hover > .gallery-description{
    display: block;
    transition: 2s;
}


.name-build{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.adress-build{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.history-build{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.gallery-link > a{
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    text-indent: 1px;
    color: #FFFFFF;
    align-self: center;
    transition: 2s;
}

.gallery-link > a:hover{
    color:#FF9700;
    transition: 2s;
}

.gallery-description{
    max-width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background:#A3A9B7;
    padding: 20px 30px 22px 30px;
    transition: 2s;
}

.under-build{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.07em;
    text-indent: 2px;
    color: #A3A9B7;
    margin: 33px 0 20px 60px;
    transition: 2s;
    position: relative;
}

.under-build:hover{
    color: black;
    transition: 2s;
}

.under-build::before{
    position: absolute;
    content: "";
    width: 48px;
    height: 4px;
    background: #A3A9B7;
    top: 10px;
    left: -60px;
}