*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-logo{
    max-width: 300px;
    display: flex;
    align-items: center;
    padding: 25px 60px 20px 60px;
    background: #FF9700;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo > div:first-child{
    margin-right: 22px;
}

.line{
    width: 22px;
    height: 2px;
    background: white;
}

.line:not(:last-of-type){
    margin-bottom: 5px;
}

.line:last-of-type{
    width: 15.89px;
}

.header-logo__text{
    width: 135px;
    font-weight: 900;
    font-size: 23px;
    line-height: 32px;
    color: white;
}

.click-info{
    background: #FF9700;
    max-width: 300px;
    position: absolute;
    margin-top: 40px;
    /* text-align: center; */
    padding: 20px 72px;
    display: none;
    z-index: 3;
}

.click-info__ul a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.07em;
    text-indent: 1px;
    color: white;
    margin-left: 25px;
    position: relative;
    transition: 1s;
}

.click-info__ul a:hover{
    color: black;
    transition: 1s;
}

.button-header > div:first-child{
    margin-bottom: 20px;
}

.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A3ABB6;
    margin-right: 50px;
}

.header-social{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-social > li:not(:last-child){
    margin-right: 25px;
}

.social-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 2s;
}

.social-item a:hover{
    background: #FF9700;
    transition: 2s;
}

.social-item img{
    opacity: 0.3;
}

.container-main{
    position: relative;
}

.vertical-text{
    transform: rotate(-90deg);
    position: absolute;
    left: -190px;
    top: 180px;
    width: 480px;
    z-index: 1;
}

.vertical-text::before{
    position: absolute;
    content: url('../img/title-bg.svg');
    transform: rotate(90deg);
    z-index: -1;
    left: -86px;
    top: -13px;
}

.vertical-text::after{
    position: absolute;
    content: "";
    width: 64.27px;
    height: 3.96px;
    background: #A3A9B7;
    right: 0;
    top: -13px;
}

.vertical-title{
    width: 500px;
    font-weight: bold;
    font-size: 80px;
    line-height: 113px;
    color: #A3ABB6;
}

.vertical-p{
    width: 388px;
    font-size: 45px;
    line-height: 53px;
    color: #A3A9B7;
}

.bg-section{
    width: 950px;
    position: absolute;
    left: 194px;
    top: -2px;
    z-index: 1;
}

.bg-img > img{
    width: 100%;
}

.bg-text{
    margin: 22px 38px;
    position: absolute;
    top: 0;
}

.bg-title{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.035em;
    color: rgba(255, 255, 255, 0.6);
}

.bg-title::before{
    position: absolute;
    content: "SKY";
    font-size: 25px;
    font-weight: bold;
    line-height: 116.99%;
    color: #A3A9B7;
    left: -100px;
    top: -8px;
}

.bg-link > a{
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    transition: 2s;
}

.bg-link > a:hover{
    color: #FF9700;
    transition: 2s;
}

.about-container{
    max-width: 750px;
    position: static;
    margin-top: 585px;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 125px;
}

.about-img{
    height: 505px;
    position: relative;
}

.about-img > img{
    width: 100%;
}

.about-img::after{
    position: absolute;
    content: url('../img/title-bg.svg');
    transform: rotate(270deg);
    top: 290px;
    right: -60px;
    z-index: -1;
}

.about-discription{
    position: absolute;
    right: 100px;
}

.mini-title_inner{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 11px;
}

.title-inner{
    max-width: 250px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 35px;
}

.text-inner{
    max-width: 500px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 57px;
}

.work-content{
    display: flex;
}

.about-amount{
    padding: 0 10px 40px 8px;
    text-align: center;
    font-weight: 900;
    font-size: 66px;
    line-height: 93px;
    text-indent: 2px;
    border: 3px solid black;
    margin-right: 20px;
    margin-bottom: 54px;
}

.about-work{
    max-width: 175px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    position: relative;
}

.about-work::before{
    position: absolute;
    content: "";
    width: 64px;
    height: 3px;
    background: black;
    top: 70px;
}

.button{
    padding: 11px 53px;
    color:#FF9700;
    background: white;
    border: 1px solid #FF9700;
    border-radius: 30px;
    transition: 2s;
}

.button:hover{
    color:white;
    background: #FF9700;
    border: 1px solid white;
    transition: 2s;
}

.projects-container, .container-clients, .container-news, .container-footer{
    max-width: 750px;
    margin: 0 auto;
}

.projects-gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery_item{
    width: 270px;
    position: relative;
}

.gallery_item img{
    width: 270px;
}

.gallery_item:hover > .gallery-description{
    display: block;
    transition: 2s;
}

.name-build{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.adress-build{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.history-build{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.gallery-link > a{
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    text-indent: 1px;
    color: #FFFFFF;
    align-self: center;
    transition: 2s;
}

.gallery-link > a:hover{
    color:#FF9700;
    transition: 2s;
}

.gallery-description{
    max-width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background:#A3A9B7;
    padding: 20px 10px 35px 30px;
    transition: 2s;
}

.under-build{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.07em;
    text-indent: 2px;
    color: #A3A9B7;
    margin: 33px 0 20px 60px;
    transition: 2s;
    position: relative;
}

.under-build:hover{
    color: black;
    transition: 2s;
}

.under-build::before{
    position: absolute;
    content: "";
    width: 48px;
    height: 4px;
    background: #A3A9B7;
    top: 10px;
    left: -60px;
}

.slick-dots li button{
    content: "";
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
}

body .slick-dots li button {
    opacity: 1;
}

body .slick-dots li.slick-active button:before {
    opacity: 1;
    background:  #FF9700;;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 10px;
    content: "";
}
.slick-dots li button:before {
    opacity: 1;
    background: #a8a2a1;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    content: "";
}

.services-container{
    max-width: 750px;
    margin-top: 80px;
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

.services-img{
    position: absolute;
    right: -150px;
}

.services-img::before{
    position: absolute;
    content: url('../img/title-bg.svg');
    bottom: -60px;
    left: -40px;
    z-index: -1;
}

.wrapper{
    display: grid;
    grid: repeat(2, 100px)/ auto-flow 250px;
    margin-bottom: 30px;
    position: relative;
}

.wrapper::before{
    position: absolute;
    content: "";
    width: 444px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    bottom: 100px;
}

.wrapper-item{
    display: flex;
    align-items: center;
}

.wrapper-item > img{
    margin-right: 18px;
}

.wrapper::after{
    position: absolute;
    content: "";
    height: 157px;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 210px;
}

.wrapper-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 120.69%;
}

.wrapper-button{
    margin-left: 100px;
}

.clients{
    padding: 70px 0;
    background: url(../img/clients-bg.png);
}

.clients-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.clients-img{
    margin-right: 30px;
    position: relative;
}

.clients-img::before{
    position: absolute;
    content: url(../img/title-bg.svg);
    transform: rotate(270deg);
    bottom: -30px;
    z-index: -1;
}

.title-clients{
    max-width: 370px;
    margin-bottom: 40px;
}

.name-client{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;

}

.company-client{
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FF9700;
    margin-bottom: 30px;
}

.quote-client{
    max-width: 420px;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.085em;
    color: #C4C4C4;
    margin-bottom: 50px;
    margin-left: 60px;
    position: relative;
}

.quote-client::before{
    position: absolute;
    content: ",,";
    font-family: 'Ribeye';
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #C4C4C4;
    transform: rotate(178.94deg);
    top: -15px;
    left: -60px;
}

.logo-company{
    display: flex;
    align-items: center;
}

.logo-company > img:not(:last-of-type){
    margin-right: 20px;
}

.news-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 30%;
}

.news-item{
    width: 235px;
    margin-bottom: 50px;
}

.news-item img{
    width: 100%;
    margin-bottom: 20px;
}

.news-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    margin-left: 40px;
    position: relative;
    transition: 2s;
}

.news-text:hover{
    color: #A3A9B7;
    transition: 2s;
}

.news-text::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 4px;
    background: #A3A9B7;
    left: -30px;
    top: 10px;
}

.footer-hr{
    height: 1px;
    width: 100%;
    background: #E5E5E5;
    margin-bottom: 85px;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.black-logo{
    color: black;
    margin-bottom: 25px;
}

.footer-logo-text{
    max-width: 255px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-indent: 1px;
}

.footer-list li, .footer-list2 li{
    display: block;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-indent: 1px;
    transition: 2s;
}

.footer-list li:hover, .footer-list2 li:hover{
    color: #FF8B03;
    transition: 2s;
}

.footer-select{
    display: flex;
    margin: 5px 0 20px;
}

.select-p{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-indent: 1px;
    margin-right: 15px;
}

.select{
    display: inline-block;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-indent: 1px;
    color: #A3A9B7;
}

@media (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .header-logo{
        left: 79px;
    }

    .click-info{
        margin-left: 79px;
    }

    .bg-section{
        max-width: 1040px;
        margin-left: -194px;
    }

    .bg-img{
        width: 1040px;
    }
    
    .vertical-text{
       transform: rotate(0); 
       left: 30px;
    }

    .vertical-title, .vertical-p{
        color: #FF8B03;
    }

    .vertical-text::before, .vertical-text::after, .bg-title::before{
        display: none;
    }

    .projects-gallery{
        max-width: 1040px;
        margin: 0 auto;
    }

    .gallery_item img {
        width: 230px;
    }
    
    .gallery-description {
        padding: 10px 1px 21px 1px;
    }

    .history-build{
        margin-bottom: 30px;
    }

    .services-img{
        right: 25px;
    }
}

@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .header-logo{
        max-width: 250px;
        left: 167px;
        padding: 22px 20px;
    }
    
    .click-info{
        margin-left: 167px;
        max-width: 250px;
        padding: 20px 42px 20px 22px;
    }

    .bg-section{
        max-width: 750px;
        left: 192px;
    }

    .bg-img{
        width: 750px;
        margin-left: 0;
    }

    .vertical-text{
        left: 30px;
    }

    .about-container{
        margin-top: 450px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-discription, .services-img{
        position: static;
    }

    .about-discription, .services-discription{
        margin-bottom: 30px;
    }

    .text-inner{
        max-width: 400px;
    }

    .services-container{
        flex-direction: column;
        align-items: center;
    }

    .services-img::before{
        left: 120px;
    }

    .about-discription, .services-discription, .title-inner{
        text-align: center;
    } 

    .title-inner, .wrapper-button, .text-inner{
        margin: 30px auto;
    } 

    .gallery_item{
        padding: 0 15px;
    }

    .gallery-description {
        max-width: 220px;
        padding: 10px 1px 21px 9px;
        left: 15px;
    }

    .under-build{
        font-size: 15px;
    }

    .work-content, .wrapper{
        margin-left: 50px;
    }

    .about-work{
        text-align: start;
    }
}

@media (max-width:800px){
    .container{
        max-width: 500px;
    }

    .header-logo{
        max-width: 250px;
        left: 150px;
        padding: 5px 320px 5px 180px;
    }

    .header-logo__text{
        font-size: 25px;
        white-space: nowrap;
    }

    .click-info{
        margin-left: 150px;
        top: 0;
        max-width: 250px;
        padding: 20px 165px 20px 180px;
    }

    .header-container{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .header-text, .header-social{
        margin: 0 auto;
    }

    .header-social{
        margin-bottom: 10px;
    }

    .bg-section{
        max-width: 500px;
        left: 194px;
    }

    .bg-img{
        width: 100%;
    }

    .vertical-text{
        top: 100px;
    }

    .vertical-title{
        font-size: 50px;
        line-height: 60px;
    }

    .vertical-p{
        font-size: 25px;
    }

    .about-container{
        margin-top: 230px;
    }

    .work-content, .wrapper{
        margin-left: 50px;
    }

    .about-work{
        font-size: 18px;
    }

    .services-img::before{
        left: 0;
    }

    .clients-wrapper{
        width: 500px; 
    }

    .clients-content{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .clients-img, .clients-text{
        margin: 0 auto;
    }

    .clients-img{
        margin-bottom: 40px;
    }

    .clients-img::before{
        left: 0;
    }

    .quote-client::before{
        left: -40px;
    }

    .logo-company > img:not(:last-of-type){
        margin-right: 0;
        
    }

    .logo-company > img{
        margin-left: 25px;
        width: 130px;
    }

    .news-wrapper{
        flex-direction: column;
        justify-content: center;
    }

    .footer-social, .footer-select{
        display: none;
    }
    
}

@media (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .header-logo{
        max-width: 250px;
        left: 59px;
        padding: 5px 281px 5px 150px;
    }

    .click-info{
        margin-left: 59px;
        max-width: 250px;
        padding: 20px 135px 20px 141px;
    }

    .bg-section{
        width: 100%;
    }

    .about-container{
        margin-top: 250px;
        margin-bottom: 50px;
    }

    .title-inner{
        font-size: 25px;
    }

    .text-inner{
        max-width: 400px;
    }

    .about-img{
        height: 350px;
    }

    .about-img > img{
        width: 100%;
        height: 100%;
    }

    .about-img::after, .services-img img, .services-img::before{
        display: none;
    }

    .gallery_item img{
        margin: 0 auto;
    }

    .gallery-description, .under-build{
        left: 100px;
    }

    .wrapper{
        grid: repeat(2, 100px)/ auto-flow 200px;
        margin-bottom: 15px;
    }

    .wrapper::before{
        width: 360px;
        height: 1px;
        bottom: 100px;
        left: 8px;
    }
    
    .wrapper-item > img{
        margin-right: 5px;
    }
    
    .wrapper::after{
        height: 150px;
        top: 25px;
        left: 170px;
    }
    
    .clients, .services{
        padding: 30px 0;
    }

    .clients-text{
        max-width: 430px;
    }

    .quote-client{
        max-width: 300px;
    }

    .logo-company img{
        width: 100px;
    }

    .services-container{
        margin: 20px auto;
        margin-bottom: 0;
    }
}

@media (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .header-logo{
        max-width: 250px;
        left: 30px;
        padding: 5px 200px 5px 110px;
    }
}

