*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container , .info-container , .company-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li, .company-li, .bottom-link{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    padding: 17px 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.check{
    width: 30px;
    height: 2px;
    background: black;
    transition: 500ms linear;
}

.check:not(:last-of-type){
    margin-bottom: 4px;
}

.menu{
    display: flex;
    align-items: center;
}

.checkbox, .check-wrapper{
    display: none;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.header-wrapper{
    display: flex;
    position: relative;
    padding-bottom: 100px;
}

.header-wrapper > div:first-of-type{
    max-width: 750px;
    z-index: 1;
}

.header-wrapper > div:last-of-type{
    position: absolute;
    top: 0;
    right: -70px;
    z-index: 0;
}

.title{
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin-bottom: 34px;
}

.header-text{
    font-size: 24px;
    line-height: 34px;
    max-width: 450px;
    margin-bottom: 60px;
}

.button-white{
    background: white;
    color: #3040C4;;
}

.info{
    background-color: #F4F5F7;
}

.info1-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.info1-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.info1{
    margin: 76px 0;
}

.company-ul{
    padding: 30px 0;
}

.manage{
    background: rgba(252, 240, 227, 0.4);
    padding: 100px 0;
}

.manage-img{
    animation-name: img-opacity;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    position: relative;
    transition: 2s;
}

@keyframes img-opacity{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}

.manage-img:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}

.text-mini-orange{
    color: #F1592B;
}

.manage-p{
    padding: 30px 0 28px;
    max-width: 460px;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    position: relative;
}

.manage-p > span{
    font-weight: bold;
}

.manage-p::after{
    content: "";
    position: absolute;
    width: 515px;
    height: 5px;
    background: #0185D0;
    left: -25px;
    bottom: -75px;
}

.busy{
    padding: 100px 0;
}



.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.text-mini-blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    max-width: 462px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
}

.busy-img{
    animation-name: busy-img;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease;
    position: relative;
    transition: 2s;
}

@keyframes busy-img{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1, 1);
    }
}

.busy-img:hover{
    transform: scale(-1, 1);
    transition-duration: 2s;
}


.info-flex{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px;
}

.info-p{
    font-size: 18px;
    max-width: 360px;
    line-height: 26px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: #3040C4;
}

.bg{
    background: rgba(30,144,255,0.07)
}

.info2, .info3{
    text-align: center;
}

.info2-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    padding: 108px 0 24px;
}

.info2-main{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 555px;
    margin: 0 auto;
}

.info2-regular{
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    color: #2B292D;
    max-width: 555px;
    margin: 0 auto;
    padding: 30px 0;
}

.button-double{
    text-align: center;
}

.button1, .button2{
    border: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 13px;
    padding: 17px 28px;
    color: #FFFFFF;
    background: #3040C4;
    transition: 1s;
    cursor: pointer;
}

.button2{
    margin-left: 10px;
}

.button1:hover{
    color:  #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border-radius: 2px;
    transition: 1s;
}

.button2:hover{
    color:  #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border-radius: 2px;
    transition: 1s;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 300px;
    margin: 110px 0;
    padding-bottom: 110px;
}

.item{
    background: white;
    border-radius: 8px;
    color:  #000000;
    transition: 1s;
}

.item:hover{
    background: #3040C4;
    color: #FFFFFF;
    transition: 1s;
}

.item-img{
    margin: 22px auto;
    text-align: center;
}

.item-text{
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    margin: 22px 0;
}

.info3{
    margin: 90px auto;
}

.info3-main{
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    }

.info3-regular{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    max-width: 555px;
    margin: 0 auto;
    padding: 26px 0;
}

.gallery{
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
    gap: 30px;
    margin-bottom: 91px;
}

.gallery > img{
    width: 100%;
    height: 100%;
}

.gallery > img:nth-child(1){
    grid-area: one;
}

.gallery > img:nth-child(2){
    grid-area: two;
}

.gallery > img:nth-child(3){
    grid-area: three;
}

.gallery > img:nth-child(4){
    grid-area: four;
}

.gallery > img:nth-child(5){
    grid-area: five;
}

.gallery > img:nth-child(6){
    grid-area: six;
}

.gallery > img:nth-child(7){
    grid-area: seven;
}

.free-flex{
    padding: 73px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    margin-bottom: 12px;
}

.free-text{
    max-width: 555px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 25px;
}

.free-input{
    width: 385px;
    padding: 13px 0 14px 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 18px;
}

.free-input:focus{
    outline: none;
}

.free-input::placeholder{
    font-size: 18px;
    color: #2B292D;
}

.free-link{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.animation-img{
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

@keyframes img{
    0%{
        top: 0;
    }
    25%{
        top: -25px;
    }
    50%{
        top: -50px;
    }
    75%{
        top: 25px;
    }
    100%{
        top: 0;
    }
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 135px 0 60px;
}

.logo-text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    max-width: 360px;
    padding: 25px 0;
}

.footer-link{
    padding-top: 15px;
    cursor: pointer;
}

.footer-link > a{
    text-decoration: none;
}

.footer-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 15px;
}

.footer-list-adapt{
    display: none;
}

.footer-list__ul > li{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-hr{
    height: 1px;
    width: 100%;
    background: #2B292D;
    opacity: 0.1;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.bottom-link > a{
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.bottom-link{
    padding-right: 15px;
}

.bottom-logo{
    cursor: pointer;
}

.bottom-logo > a:not(:last-child){
    padding-right: 15px;
    text-decoration: none;
}


@media (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .header{
        padding: 15px 0;
    }
    
    .header-text{
        max-width: 400px;
    }

    .info1{
        max-width: 500px;
    }
}

@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .checkbox, .check-wrapper{
        display: block;
    }

    .header-wrapper{
        display: block;
        position: static;
        padding-bottom: 0;
    }

    .header-nav{
        display: none;
    }

    .menu{
        position: relative;
    }

    .check-wrapper{
        z-index: 2;
    }

    .checkbox{
        position: absolute;
        z-index: 3;
        display: block;
        width: 30px;
        height: 30px;
        opacity: 0;
    }

    .checkbox:checked ~ .check-wrapper>.check:first-of-type{
        transform: rotate(45deg) translate(3px, 3px)
    }
    
    .checkbox:checked ~ .check-wrapper>.check:last-of-type{
        transform: rotate(-45deg) translate(5px, -6px)
    }

    .checkbox:checked ~ .check-wrapper>.check:nth-child(2){
        opacity: 0;
    }

    .checkbox:checked ~ .header-nav{
        display: block;
        position: fixed;
        background: #F3C6BD;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .header-nav{
        text-align: center;
    }

    .header-nav > div{
        margin-left: 0;
    }

    ul{
        margin-top: 10%;
    }

    .header-li{
        display: block;
        margin-bottom: 20px;
    }

    .header-li:not(:last-child){
        margin-right: 0;
    }

    .header-wrapper > div:last-of-type{
        position: static;
        margin-top: 40px;
    }

    .header-wrapper > div:last-of-type img{
        width: 100%;
    }

    .info-container{
        flex-direction: column;
        align-items: center;
    }

    .info1{
        margin: 30px 0;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .logo > div:last-child{
        text-align: start;
    }
    
    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }

    .info2-bold{
        padding: 50px 0 20px;
    }

    .wrapper{
        padding-bottom: 50px;
    }

    .gallery{
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
        gap: 30px;
        margin-bottom: 91px;
    }

    .gallery > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .free-flex{
        flex-direction: column-reverse;
        text-align: center;
    }

    .free-flex > div:not(:first-of-type){
        margin-bottom: 50px;
    }
}

@media (max-width: 800px){
    .container{
        max-width: 500px;
    }

    .header-wrapper > div:first-child{
        text-align: center;
    }

    .info1{
        max-width: 430px;
        margin: 20px 0;
    }

    .company-ul{
        display: flex;
        flex-wrap: wrap;
        row-gap: 37px;
    }

    .company-li{
        flex: 1 1 30%;
        text-align: center;
        justify-content: space-around;
    }

    .manage-p::after{
        display: none;
    }

    .wrapper{
       display: grid; 
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       height: 100%;
       gap: 15px;
       margin: 50px 0;
       margin-bottom: 110px;
    }

    .info3, .header-text{
        margin: 30px auto;
    }

    .free-title{
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .free-form{
        display: flex;
        justify-content: space-between;
    }

    .free-input, .button{
        flex: 1 50%;
    }

    .free-link{
        max-width: 430px;
    }

    .footer-info, .logo-center{
        flex-direction: column;
        align-items: center;
    }

    .footer-info{
        padding: 60px 0 40px;
    }

    .logo-center > div:first-child{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .logo-center > div:last-child, .logo-text, .footer-link{
        text-align: center;
    }

    .logo-text{
        margin: 0 auto;
    }

    .footer-list{
        display: none;
    }

    .footer-list-adapt{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .footer-list-adapt > div:last-child{
        text-align: end;
    }
}

@media (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .title{
        font-size: 50px;
    }

    .logo-disappear{
        display: none;
    }

    .info3{
        margin: 15px auto;
    }

    .busy{
        padding: 50px 0;
    }

    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .busy img, .manage img{
        width: 100%;
    }

    .info-p{
        max-width: 100%;
    }

    .free-form{
        flex-direction: column;
    }

    .free-input{
        width: 100%;
    }

    .free-link{
        max-width: 290px;
        margin: 10px auto;
    }
}

@media (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .company-ul{
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .company-li{
        flex: 1 1 50%;
        text-align: center;
        justify-content: space-around;
    }

    .info2-main{
        font-size: 45px;
    }

    .button1, .button2, .button{
        width: 100%;
    }

    .button-white{
        margin-top: 15px;
    }

    .button1{
        margin-bottom: 10px;
    }

    .button2{
        margin-left: 0;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 4fr);
    }

    .gallery{
        display: grid;
        grid-template-areas: 
        "one"
        "three"
        "three"
        "four"
        "four"
        "five" 
        "six";
        gap: 30px;
        margin-bottom: 91px;
    }
    
    .gallery > img:nth-child(2){
        grid-area: two;
        display: none;
    }
}   

@media (max-width: 360px){
    .container{
        max-width: 290px;
    }

    .title{
        font-weight: bold;
        font-size: 50px;
        line-height: 45px;
    }

    .info1{
        max-width: 360px;
    }

    .info2-main, .info3-main{
        font-size: 40px;
    }

    .company-ul{
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .company-li{
        flex: 1 50%;
        text-align: center;
        justify-content: space-between;
    }

    .company-li > img{
        width: 50%
    }

    .logo-text, .footer-hr, .footer-list-adapt{
        display: none;
    }

    .footer-list{
        display: block;
        width: 100%;
    }

   .footer-title{
       margin-top: 30px;
   }

   .footer-bottom{
       flex-direction: column;
   }

   .bottom-logo{
       margin-top: 30px;
   }
}


@media (max-width: 320px){
    .container{
        max-width: 250px;
    }

    .title-inner{
       font-size: 40px;
    }

    .text-inner{
        font-size: 20px;
    }
}